<form #addAuthorForm="ngForm" (ngSubmit)="addAuthor()">
    <h2>{{ pageTitle }} Author</h2>
    <mat-form-field class="my-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Student Bookshop" name="name" [(ngModel)]="author.name" required>
        <mat-error>Required</mat-error>
    </mat-form-field>
    <br>
    <button mat-stroked-button class="btn-space" [routerLink]="['/authors']" mat-button>Cancel</button>
    <button [disabled]="addAuthorForm.invalid" type="submit" mat-raised-button color="primary">{{ pageTitle }}</button>
</form>