<span style="padding-top: 100px;"></span>
<div class="container">
    <div class="center">
        <form>
            <mat-form-field class="width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Login</button>
        </form>
    </div>
</div>