<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar *ngIf="service?.isLoggedIn() == true">Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="service?.isLoggedIn() == true" routerLink="/books" mat-list-item href="#" class="color">Books</a>
      <mat-divider *ngIf="service?.isLoggedIn() == true"></mat-divider>
      <a *ngIf="service?.isLoggedIn() == true" routerLink="/bookshops" mat-list-item href="#" class="color">Bookshops</a>
      <mat-divider *ngIf="service?.isLoggedIn() == true"></mat-divider>
      <a *ngIf="service?.isLoggedIn() == true" routerLink="/authors" mat-list-item href="#" class="color">Authors</a>
      <mat-divider *ngIf="service?.isLoggedIn() == true"></mat-divider>
      <a *ngIf="service?.isLoggedIn() == true" routerLink="/categories" mat-list-item href="#" class="color">Categories</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="fill-span">Bookify</span>
      <a *ngIf="service?.isLoggedIn() == false" routerLink="/login" class="button-padding" mat-button href="#">Login</a>
      <a *ngIf="service?.isLoggedIn() == true" routerLink="/login" (click)="service?.logout()" class="button-padding" mat-button href="#">Logout</a>
      <a *ngIf="service?.isLoggedIn() == false" routerLink="/signup" mat-button href="#">Sign up</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
