<!-- <div style="padding-left: 20px; padding-right: 20px; padding-top: 20px;"> -->
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>User Info</ng-template>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First name" formControlName="firstName" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last name" formControlName="lastName" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Age</mat-label>
                    <input matInput placeholder="Age" formControlName="age">
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword"
                        required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Address Info">
            <form [formGroup]="secondFormGroup">
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city" required>
                        <mat-option value="">Select</mat-option>
                        <mat-option value="1">Pakistan</mat-option>
                        <mat-option value="2">India</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>State/Province</mat-label>
                    <mat-select formControlName="state" required>
                        <mat-option value="">Select</mat-option>
                        <mat-option value="1">Punjab</mat-option>
                        <mat-option value="2">KPK</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>ZIP/Postal Code</mat-label>
                    <input matInput formControlName="zipCode" placeholder="xxxxx" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" label="Credit Card Info">
            <form [formGroup]="thirdFormGroup">
                <mat-form-field appearance="outline">
                    <mat-label>Owner</mat-label>
                    <input matInput formControlName="owner" placeholder="Mike" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Card Number</mat-label>
                    <input type="number" matInput formControlName="cardNum" placeholder="" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Expiry Date</mat-label>
                    <input formControlName="expiryDate" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
<!-- </div> -->